
<div class="gallery-header">

    <h1>GALLERY</h1>
    <h4>Vincent van Gogh</h4>

</div>


<mat-grid-list cols="2" rowHeight="2:1" class="MGL-details">
    <mat-grid-tile>
        <img src="/assets/images/vangogh1.jpg" alt="Van Gogh 1">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/vangogh2.jpg" alt="Van Gogh 2">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/vangogh3.jpg" alt="Van Gogh 3">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/vangogh4.jpg" alt="Van Gogh 4">
    </mat-grid-tile>
  </mat-grid-list>
