.MGL-details {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

mat-grid-tile {
    background: lightblue;
    
  }

img {
    width: 400px;
    height: 250px;
}

.gallery-header {
    text-align: center;
}
h1 {
    font-size: 60px;
    letter-spacing: 15px;
    margin-top: 50px;
}
h4 {
    font-size: 20px;
    margin-top: 5px;
}