
<div id="rcorners1">
    <div mat-card-avatar class="example-header-image"></div>
    <h1 class="profile-name">CHRISTIAN AGNER</h1>
    <hr class="hr1">

    <p class="prof-details">
       <b>School:</b> EVSU - Main <br>
        <b>Student ID:</b> 2018-01303 <br>
        <b>Course:</b> BS Information Technology <br>
        <b>Section:</b> 3C
    </p>
</div>


<mat-card class="profile-card">
    <div>
        <mat-icon>description</mat-icon><span class="aligned-with-icon">General Information</span>
    </div>
    <br>

    <table id="customers">
       <tr>
         <td>Full Name</td>
         <td style="width: 10px;">:</td>
         <td>Christian Kent B. Agner</td>
       </tr>
       <tr>
         <td>Date of Birth</td>
         <td>:</td>
         <td>March 22, 1999</td>
       </tr>
       <tr>
           <td>Birth Place</td>
           <td>:</td>
           <td>Tacloban City</td>
         </tr>
         <tr>
           <td>Sex</td>
           <td>:</td>
           <td>Male</td>
         </tr>
         <tr>
           <td>Citizenship</td>
           <td>:</td>
           <td>Filipino</td>
         </tr>
         <tr>
           <td>Civil Status</td>
           <td>:</td>
           <td>Single</td>
         </tr>
     </table>
</mat-card>


<mat-card class="profile-card2">
   <div>
       <mat-icon>description</mat-icon><span class="aligned-with-icon2">Other Information</span>
   </div>
   <pre class="pre-details-card2">
       I like doing photography and videography, it helps me to be more creative. I enjoy
       going and hanging out with my friends. I sometimes do play sports and team games
       with friends. I casually play online and computer games. I’m a future mechanical
       keyboard and sneaker enthusiast. I also have this huge obsession about graphic designing.
   </pre>
</mat-card>