<div id="rcorners1">

    <h1 class="h1-details1">CONTACT US</h1>
    <p class="par-details1">Feel free to get in touch with me. Let's discuss about the three elements <br>
    Earth, Wind and Fire and play that funky music.</p>

    <div class="with-icons">
        <mat-icon class="icon1">phone</mat-icon>
        <mat-icon class="icon2">location_on</mat-icon>
        <mat-icon class="icon3">email</mat-icon>
    </div>

    <h3 class="h3-1">+690000069</h3>
    <h3 class="h3-2">Dimension C-137, 69th Street</h3>
    <h3 class="h3-3"><a href="mailto:christian.agner@evsu.edu.ph">christian.agner@evsu.edu.ph</a></h3>

    
</div>
